* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}
body {
  background-color: #202124;
}


input {
  outline: none;
  border: none;
  border-bottom: solid red 1px;
  background-color: #202124;
  color: #FFF;
  padding: 10px 3px 10px 3px;
}
