.signup {
  background-color: #202124;
  width: 99vw;
  height: 98vh;
  display: grid;
  place-items: center;
}

.email-label {
  color: #FFF;
  font-weight: 600;
}

.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 300px;
  border: solid 2px #ffffff;
  border-radius: 8px;
}

.emailBox {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}